<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
    <form method="post" action="">
        <p>
            用户名: <input type="text" name="user_name" value={{user_name}} disabled>
        </p>
        <p>
            旧密码：<input type="password" name="origin_password">
        </p>
        <p>
           新密码：<input type="password" name="new_password">
        </p>
        <p>
            再次输入密码：<input type="password" name="password_check">
        </p>
        <p>
            <input type="submit" value="修改">
        </p>
    </form>
    <p>
        <a href="{% url 'user_interface' %}">返回</a>
    </p>
</body>
</html>